@import url(../../App.css);

.about-text-div h2 {
    font-size: 3em;
    font-weight: 500;
}

.about-text-div p {
    font-size: 1.2em;
    font-weight: 400;
    font-family: var(--about-text-font);

    margin: 30px 0 30px 0;
}

.about-text-div {
    padding: 50px;
    text-align: center;
}

.carousel-image{
    max-width: 800px;
    max-height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 2px solid black;
    border-radius: 10px;
}

.about-header-font {
    font-family: var(--about-header-font);
}
